.prod-row{
    display: flex;
    justify-content: center;
    gap: 3em;
}
.carousel-control-prev{
    justify-content: flex-start;
    padding-left: 1rem;
}
.carousel-control-next{
    justify-content: flex-end;
    padding-right: 1rem;
}

.carousel-btn{
    width: auto;
}