:root{
    --border-style: 2px solid black;
}
.title{
    margin-bottom: 2rem;
}

.auth-container{
    width: 500px;
    border: var(--border-style);
    padding: 2rem;
    border-radius: 30px;
    background-color: #f2f2f2;
    color: #000;
    box-shadow: 0 10px black;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.register-inp{
    width: 60%;
    height: 35px;
    margin-bottom: 1em;
    border: var(--border-style);
    box-shadow: 0 2px black;
    border-radius: 7px;
    outline: none;
    padding-left: 1em;
}
.inp-label{
    margin-left: 2rem;
}
.sub-btn{
    margin-top: 10px;
    width: 50%;
}

.wrong-password{
    border-color: #cc0a0a !important;
    box-shadow: 0 2px #cc0a0a !important;
}