/* .category-title {
  text-transform: uppercase;
  text-align: left;
  margin-top: 3rem;
  font-size: 200%;
  max-width: fit-content;
} */

.category-link {
  text-decoration: none;
  color: black;
}
#sym{
  font-weight: 600;
}

/* .product-row {
  margin-bottom: 4rem;
} */

